<%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-10 mx-auto">
                <div class="card shadow">

                    <div class="card-body p-3">
                        <img src="/uploads/<%= post.image %>" class="img-fluid  d-block mx-auto" alt="<%= post.title %>">
                        <div class="lead d-flex align-items-centerfw-semibold justify-content-between text-secondary my-3">
                            <div>Author: <%= post.user.name %></div>
                            <div>Created:<%= post.createdAt.toLocaleString() %></div>
                        </div>
                        <h1 class="text-secondary fw-bold"><%= post.title %></h1>
                        <p><%= post.content %></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>